# .gitignore
__pycache__/
*.pyc
.venv/
.env.*
*.sqlite3
.idea/
.DS_Store
*.log
*Zone.Identifier
*.rar
.vs/
htmlcov/
coverage.xml
.coverage
.reports/
reports/
.ruff_cache/
bab.egg-info/
